<div class="video-parser-button" :class="{'video-parser-button--no-shadow':isDisplayPopover}" @click="onButtonClick">
  <span v-if="!isDisplayPopover">下载<br />视频</span>
  <span v-else class="video-parser-button__close"></span>
</div>
<transition name="zoom-in-out">
  <div v-if="isDisplayPopover" class="video-parser-popover">
    <div class="video-parser-popover__header">{{ videoName }}</div>
    <div class="video-parser-popover__content">
      <div class="video-parser-popover__type">视频</div>
      <div class="video-parser-popover__videos">
        <div v-for="(item,index) of videoList" :key="index" class="video-parser-popover__item"
          :class="{'video-parser-popover__item--actived':item.isActived}" :title="item.duration"
          @click="onItemClick(item, videoList)">
          <span>{{ item.qualityStr }}</span>
          <template v-else>
            <span>{{ item.size }}</span>
          </template>
        </div>
      </div>
      <template v-if="audioList.length">
        <div class="video-parser-popover__type">音频</div>
        <div class="video-parser-popover__audios">
          <div v-for="(item,index) of audioList" :key="index" class="video-parser-popover__item"
            :class="{'video-parser-popover__item--actived':item.isActived}" :title="item.duration"
            @click="onItemClick(item, audioList)">
            <span>{{ item.qualityStr }}</span>
          </div>
        </div>
      </template>
      {{code}}
    </div>
    <div class="video-parser-popover__action">
      <div class="video-parser-popover__quality">
        <div>当前清晰度</div>
        <div style="text-align: center;">{{ data.qualityStr }}</div>
      </div>
      <div class="video-parser-popover__duration">
        <div>总时长</div>
        <div style="text-align: center;">{{ data.duration }}</div>
      </div>
      <div>
        {{selectVideoStr}}
        {{selectAudioStr}}
      </div>
      <div class="video-parser-popover__submit" @click="onDownloadClick">下载</div>
    </div>
  </div>
</transition>