#video-parser * {
  user-select: none;
}

.video-parser-button {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 99;
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  padding: 6px 0;
  background: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 6px 10px 0 hsla(0, 0%, 72.9%, 0.3);
  border-radius: 2px;
  color: #212121;
  font-size: 12px;
  text-align: center;
  line-height: 17px;
  user-select: none;
  transition: 0.3s;
}

.video-parser-button--no-shadow {
  box-shadow: none;
  /* border-radius: 0 100% 0 0; */
}

.video-parser-button:hover {
  cursor: pointer;
  color: #00a1d6;
  border: 1px solid #00a1d6;
}

.video-parser-button__close {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 20px;
  transform: translate(-50%, -50%);
}

.video-parser-button__close::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #212121;
  transform-origin: center;
  transform: rotate(45deg);
  transition: 0.3s;
}

.video-parser-button__close::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #212121;
  transform-origin: center;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.video-parser-button:hover .video-parser-button__close::after,
.video-parser-button:hover .video-parser-button__close::before {
  background-color: #00a1d6;
}

.video-parser-popover {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 98;
  width: 600px;
  border: 1px solid #e7e7e7;
  border-radius: 2px 2px 2px 0;
  box-shadow: 0 6px 10px 0 hsla(0, 0%, 72.9%, 0.3);
  background-color: #fff;
  transform-origin: left bottom;
  overflow: hidden;
}

.video-parser-popover__header {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #e7e7e7;
}

.video-parser-popover__content {
  overflow-y: auto;
  overflow-x: hidden;
  /* min-height: 100px; */
  max-height: 350px;
  padding: 10px;
}

.video-parser-popover__type {
  margin-right: 5px;
  font-size: 15px;
  padding: 0 5px;
  color: #999;
}

.video-parser-popover__select-all {
  cursor: pointer;
  font-size: 12px;
  color: #ffa9c2;
}

.video-parser-popover__select-all:hover {
  color: #fb7299;
}

.video-parser-popover__videos,
.video-parser-popover__audios {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.video-parser-popover__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-width: 72px;
  padding: 3px 5px;
  margin: 5px 5px 0 5px;
  margin-top: 5px;
  border: 1px solid #e5e9f0;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.video-parser-popover__item--actived {
  background-color: #d4eaff;
  color: #00a1d6;
  border: 1px solid #00a1d6;
}

.video-parser-popover__item:not(.video-parser-popover__item--actived):hover {
  background-color: #eaf4ff;
  border: 1px solid #73bed8;
}

.video-parser-popover__action {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 47px;
  box-sizing: border-box;
  padding-left: 48px;
  border-top: 1px solid #e7e7e7;
}

.video-parser-popover__quality,
.video-parser-popover__duration {
  padding: 0 10px;
  text-align: center;
  border-right: 1px solid #e7e7e7;
}

.video-parser-popover__selected {
  position: absolute;
  right: 90px;
}

.video-parser-popover__submit {
  position: absolute;
  right: 0;
  font-size: 14px;
  display: block;
  width: 80px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  background-color: #fb7299;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 6px 10px 0 rgba(251, 114, 153, 0.4);
  z-index: 2;
}

.video-parser-popover__submit:hover {
  background-color: #ff85ad;
}

.zoom-in-out-enter-active,
.zoom-in-out-leave-active {
  transition: 0.3s;
}

.zoom-in-out-enter-to,
.zoom-in-out-leave {
  transform: scale(1);
  opacity: 1;
}

.zoom-in-out-enter,
.zoom-in-out-leave-to {
  transform: scale(0);
  opacity: 0;
}
